doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Siakad Data Spy
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  // FA
  script(src='https://kit.fontawesome.com/a80ad92363.js' crossorigin='anonymous')
  // <i class="fas fa-terminal"></i>
  // GF
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap' rel='stylesheet')
  // My CSS
  link(rel='stylesheet' href='css/styles.css')
.container-fluid.main-container-style
  .card-style.fade-in-left
    h1.header-text-style.h1 Siakad Data Spy.
    
    .terminal-style
      | {
      br
      |                         npm: #{npm}
      br
      |                         namaLengkap : #{namaLengkap}
      br
      |                         jurusan: #{jurusan}
      br
      |                         angkatan: #{angkatan}
      br
      |                         waliDosen: #{waliDosen}
      br
      |                         ipk: #{ipk}
      br
      |                     }
    .button-submit-style
      a.btn.btn-dark.btn(href='/' type='submit')
        i.fas.fa-terminal
  // Card-style end tag
// Main-container-style end tag
.copyright.fade-in-left(align='center')
  script.
    document.write('&copy;');
    document.write(' 2021 ');
    document.write(' Terra - All Rights Reserved.');
    document.write('<br>')
    document.write(' Special thanks to : z3us,tap,zatel,joko.');
// ===========================================================================================
// Bootstrap JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
